.ocupadoReserva {
  background-color: #dc3545;
}

.libre {
  background-color: aquamarine;
}

.CeldaReserva {
  padding: 0px !important;
}

.reservaBorder {
  border: 2px solid;
  width: 170px;
  border-radius: 5px;
  height: 198px;
  position: absolute;
  margin-left: -5px;
  margin-top: -5px;
  background-color: wheat;
  font-size: 12px;
}


