.ocupadoReserva {
  background-color: #dc3545;
}

.libre {
  background-color: aquamarine;
}



.reservaBorder {
  border: 1px solid;
  border-radius: 5px;
  position: absolute;
  background-color: #17a2b8;;
  font-size: 12px;
}

.tituloReserva {
  font-size: 16px;
}

